# Default values for mychart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

deployment:
  method: bluegreen
  active: blue

ingress:
  strategicDomain: 
    name: www.abc.com
    path: "/"
    tls: true
  tacticalDomain: 
    name: www.abc.tech
    path: "/"
    tls: true
  technicalDomain: 
    name: www.abc.io
    path: "/"
    tls: false
